<%= form_with(model: train) do |form| %>
  <% if train.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(train.errors.count, "error") %> prohibited this train from being saved:</h2>

      <ul>
        <% train.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :length %>
    <%= form.number_field :length %>
  </div>

  <div class="field">
    <%= form.label :width %>
    <%= form.number_field :width %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height %>
  </div>

  <div class="field">
    <%= form.label :maximum_speed %>
    <%= form.number_field :maximum_speed %>
  </div>

  <div class="field">
    <%= form.label :wheel_count %>
    <%= form.number_field :wheel_count %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :brand_name %>
    <%= form.text_field :brand_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
