<p id="notice"><%= notice %></p>

<h1>Houses</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Exterior color</th>
      <th>Interior color</th>
      <th>Current family last name</th>
      <th>Rooms</th>
      <th>Square feet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.address %></td>
        <td><%= house.exterior_color %></td>
        <td><%= house.interior_color %></td>
        <td><%= house.current_family_last_name %></td>
        <td><%= house.rooms %></td>
        <td><%= house.square_feet %></td>
        <td><%= link_to 'Show', house %></td>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>
        <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House', new_house_path %>
