<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @house.address %>
</p>

<p>
  <strong>Exterior color:</strong>
  <%= @house.exterior_color %>
</p>

<p>
  <strong>Interior color:</strong>
  <%= @house.interior_color %>
</p>

<p>
  <strong>Current family last name:</strong>
  <%= @house.current_family_last_name %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @house.rooms %>
</p>

<p>
  <strong>Square feet:</strong>
  <%= @house.square_feet %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
