<%= turbo_frame_tag Car::FORM_TURBO_FRAME_ID do %>
  <%= form_with model: @car, url: wizard_path, method: :patch do |f| %>
    <% if f.object.errors.any? %>
      <div class="error_messages">
        <% f.object.errors.full_messages.each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    <% end %>

    <fieldset>
      <legend>Functional Stuff</legend>

      <div>
        <%= f.label :transmission_type %>
        <%= f.text_field :transmission_type %>
      </div>

      <div>
        <%= f.label :seat_count %>
        <%= f.number_field :seat_count %>
      </div>

      <br/>

      <div>
        <%= link_to 'Nevermind', cars_path, data: { turbo_frame: :_top } %>
        <%= f.submit 'Next Step' %>
      </div>
    </fieldset>
  <% end %>
<% end %>
