<p id="notice"><%= notice %></p>

<h1>Users</h1>

<p>
  Users is the baseline model for the database-persisted wizard approach. Every time someone hits 'new'
  a new (empty) record is created in the database and the user is redirected to the steps controller
  nested inside that unique resource's URL. This is a very straightforward approach, tried and true.
</p>
<p>
  Turbo Drive has been specifically disabled for this wizard just to ensure a fully-baseline operation.
  It is enabled in the Boats wizard and beyond. For each step in this wizard you should see your browser's
  native loading bar run on each step's submit button.
</p>
<hr/>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Middle name</th>
      <th>Favorite pizza</th>
      <th>Favorite ice cream</th>
      <th>Favorite sandwich</th>
      <th>Email</th>
      <th>Pet count</th>
      <th>Pet name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.middle_name %></td>
        <td><%= user.favorite_pizza %></td>
        <td><%= user.favorite_ice_cream %></td>
        <td><%= user.favorite_sandwich %></td>
        <td><%= user.email %></td>
        <td><%= user.pet_count %></td>
        <td><%= user.pet_name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<hr style="margin-top: 20px;"/>

<details style="margin-top: 20px;">
<summary>User Model Code (Click to see)</summary>
<pre>
<code class="language-ruby">
<%= render plain: File.read(Rails.root.join('app', 'models', 'user.rb')).strip! %>
</code>
</pre>
</details>

<details style="margin-top: 20px;">
<summary>User Routes Code (Click to see)</summary>
<pre>
<code class="language-ruby">
resources :users do 
  resources :steps, only: [:show, :update], controller: 'steps_controllers/user_steps'
end
</code>
</pre>
</details>

<details style="margin-top: 20px;">
<summary>Users Controller Code (Click to see) (Mostly vanilla Rails scaffold)</summary>
<pre>
<code class="language-ruby">
<%= render plain: File.read(Rails.root.join('app', 'controllers', 'users_controller.rb')).strip! %>
</code>
</pre>
</details>

<details style="margin-top: 20px;">
<summary>User Steps Controller Code (Click to see)</summary>
<pre>
<code class="language-ruby">
<%= render plain: File.read(Rails.root.join('app', 'controllers', 'steps_controllers', 'user_steps_controller.rb')).strip! %>
</code>
</pre>
</details>

<details style="margin-top: 20px;">
<summary>Wizard Step 1 View Code (Click to see)</summary>
<pre>
<code class="language-erb">
<%= render plain: File.read(Rails.root.join('app', 'views', 'steps_controllers', 'user_steps', 'names.html.erb')).strip! %>
</code>
</pre>
</details>

<details style="margin-top: 20px;">
<summary>Wizard Step 2 View Code (Click to see)</summary>
<pre>
<code class="language-erb">
<%= render plain: File.read(Rails.root.join('app', 'views', 'steps_controllers', 'user_steps', 'foods.html.erb')).strip! %>
</code>
</pre>
</details>

<details style="margin-top: 20px;">
<summary>Wizard Step 3 View Code (Click to see)</summary>
<pre>
<code class="language-erb">
<%= render plain: File.read(Rails.root.join('app', 'views', 'steps_controllers', 'user_steps', 'pets.html.erb')).strip! %>
</code>
</pre>
</details>
