<%= form_with model: @boat, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Boat's Sizes</legend>

    <div>
      <%= f.label :length %>
      <%= f.number_field :length %>
    </div>

    <div>
      <%= f.label :width %>
      <%= f.number_field :width %>
    </div>

    <div>
      <%= f.label :displacement %>
      <%= f.number_field :displacement %>
    </div>

    <br/>
    
    <div>
      <%= link_to 'Previous Step', previous_wizard_path %>
      <%= f.submit 'Next Step' %>
    </div>
  </fieldset>
<% end %>
