<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author name:</strong>
  <%= @book.author_name %>
</p>

<p>
  <strong>Year published:</strong>
  <%= @book.year_published %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Primary topic:</strong>
  <%= @book.primary_topic %>
</p>

<p>
  <strong>Fictionaility:</strong>
  <%= @book.fictionaility %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
