<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<p>
  The Cars wizard implements the same id-in-URL routing as the Users wizard but adds on the Turbo Frames
  layer to provide a nicer, snappier UI without page-level or Turbo-Drive-level reloads on each subsequent
  frame
</p>
<hr/>

<table>
  <thead>
    <tr>
      <th>Transmission type</th>
      <th>Seat count</th>
      <th>Ride height</th>
      <th>Preferred engine type</th>
      <th>Exterior color</th>
      <th>Interior material</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.transmission_type %></td>
        <td><%= car.seat_count %></td>
        <td><%= car.ride_height %></td>
        <td><%= car.preferred_engine_type %></td>
        <td><%= car.exterior_color %></td>
        <td><%= car.interior_material %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>

<hr style="margin-top: 20px;"/>

<details style="margin-top: 20px;">
<summary>Car Model Code (Click to see)</summary>
<pre>
<code class="language-ruby">
<%= render plain: File.read(Rails.root.join('app', 'models', 'car.rb')).strip! %>
</code>
</pre>
</details>

<details style="margin-top: 20px;">
<summary>Car Routes Code (Click to see)</summary>
<pre>
<code class="language-ruby">
resources :cars do
  resources :steps, only: [:show, :update], controller: 'steps_controllers/car_steps'
end
</code>
</pre>
</details>

<details style="margin-top: 20px;">
<summary>Cars Controller Code (Click to see) (Mostly vanilla Rails scaffold)</summary>
<pre>
<code class="language-ruby">
<%= render plain: File.read(Rails.root.join('app', 'controllers', 'cars_controller.rb')).strip! %>
</code>
</pre>
</details>

<details style="margin-top: 20px;">
<summary>Car Steps Controller Code (Click to see)</summary>
<pre>
<code class="language-ruby">
<%= render plain: File.read(Rails.root.join('app', 'controllers', 'steps_controllers', 'car_steps_controller.rb')).strip! %>
</code>
</pre>
</details>

<details style="margin-top: 20px;">
<summary>Wizard Step 1 View Code (Click to see)</summary>
<pre>
<code class="language-erb">
<%= render plain: File.read(Rails.root.join('app', 'views', 'steps_controllers', 'car_steps', 'functional_parts.html.erb')).strip! %>
</code>
</pre>
</details>

<details style="margin-top: 20px;">
<summary>Wizard Step 2 View Code (Click to see)</summary>
<pre>
<code class="language-erb">
<%= render plain: File.read(Rails.root.join('app', 'views', 'steps_controllers', 'car_steps', 'mechanical.html.erb')).strip! %>
</code>
</pre>
</details>

<details style="margin-top: 20px;">
<summary>Wizard Step 3 View Code (Click to see)</summary>
<pre>
<code class="language-erb">
<%= render plain: File.read(Rails.root.join('app', 'views', 'steps_controllers', 'car_steps', 'user_choices.html.erb')).strip! %>
</code>
</pre>
</details>
