<%= form_with model: @user, url: wizard_path, data: { turbo: false } do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>User's Favorite Foods</legend>

    <div>
      <%= f.label :favorite_pizza %>
      <%= f.text_field :favorite_pizza %>
    </div>

    <div>
      <%= f.label :favorite_ice_cream %>
      <%= f.text_field :favorite_ice_cream %>
    </div>

    <div>
      <%= f.label :favorite_sandwich %>
      <%= f.text_field :favorite_sandwich %>
    </div>

    <p>
      These fields are optional so we can add a 'skip' button
    </p>

    <div>
      <%= link_to 'Previous Step', previous_wizard_path %>
      <%= f.submit 'Next Step' %>
      <%= link_to 'Skip', next_wizard_path %>
    </div>
  </fieldset>
<% end %>
