<!DOCTYPE html>
<html>
  <head>
    <title>RailsWizards</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :application, media: :all, data: { turbo_track: :reload } %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism-okaidia.css", data: { turbo_track: :reload } %>
    <%= javascript_pack_tag :application, data: { turbo_track: :reload } %>
  </head>

  <body>
    <a href="<%= root_path %>">
      <h1>Rails Wizards! 🎉</h1>
    </a>
    <hr/>
    <%= yield %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/prismjs@1.23.0/prism.min.js', data: { turbo_track: :reload } %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/autoloader/prism-autoloader.min.js', data: { turbo_track: :reload } %>
  </body>
</html>
